In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../data/raw/mobile_de_results_all.csv")

In [3]:
df["price"] = (
    df["title"]
    .str.extract(r"(\d{1,3}(?:\.\d{3})*)\s*€")[0]
    .str.replace(".", "", regex=False)
    .astype(float)
)

In [4]:
df = df.dropna(subset=["price"])
df["price"] = df["price"].astype(int)

In [5]:
df.tail(10)

,url,title,brand,model,price_eur,km,first_registration,year,blocked,skipped,skip_reason,price
3895,https://www.mobile.de/es/veh%C3%ADculos/detall...,Maxus Euniq 6 para 27.990 €,Maxus,Euniq 6,30000.0,100,30/1121,1121,NaN,NaN,NaN,27990
3896,https://www.mobile.de/es/veh%C3%ADculos/detall...,Renault Captur para 19.990 €,Renault,Captur,30000.0,102,30/1121,1121,NaN,NaN,NaN,19990
3897,https://www.mobile.de/es/veh%C3%ADculos/detall...,Citroën C4 para 21.990 €,Citroën,C4,30000.0,100,30/1121,1121,NaN,NaN,NaN,21990
3898,https://www.mobile.de/es/veh%C3%ADculos/detall...,Opel Corsa para 15.690 €,Opel,Corsa,30000.0,100,30/1121,1121,NaN,NaN,NaN,15690
3899,https://www.mobile.de/es/veh%C3%ADculos/detall...,Volkswagen T-Roc para 23.988 €,Volkswagen,T-Roc,30000.0,100,30/1121,1121,NaN,NaN,NaN,23988
3900,https://www.mobile.de/es/veh%C3%ADculos/detall...,Ford Focus para 20.795 €,Ford,Focus,20.0,100,30/1121,1121,NaN,NaN,NaN,20795
3901,https://www.mobile.de/es/veh%C3%ADculos/detall...,Skoda Kamiq para 18.995 €,Skoda,Kamiq,30000.0,100,30/1121,1121,NaN,NaN,NaN,18995
3902,https://www.mobile.de/es/veh%C3%ADculos/detall...,BMW 118 para 26.990 €,BMW,118,30000.0,30000,30/1121,1121,NaN,NaN,NaN,26990
3903,https://www.mobile.de/es/veh%C3%ADculos/detall...,Skoda Kamiq para 29.390 €,Skoda,Kamiq,30000.0,100,30/1121,1121,NaN,NaN,NaN,29390
3904,https://www.mobile.de/es/veh%C3%ADculos/detall...,BMW 218 Gran Tourer para 12.530 €,BMW,218 Gran Tourer,30000.0,102,30/1121,1121,NaN,NaN,NaN,12530

In [7]:
df2 = df.copy()

In [8]:
df2.drop('blocked',axis=1, inplace=True)
df2.drop('skipped',axis=1, inplace=True)
df2.drop('skip_reason',axis=1, inplace=True)
df2.drop('first_registration',axis=1, inplace=True)
df2.drop('price_eur',axis=1, inplace=True)

In [9]:
df2=df2[['brand','model','price','km','year','title','url']]

In [10]:
df2 = df2[df2["brand"].isin(df2["brand"].value_counts().loc[: "Jaguar"].index)]

In [11]:
df2 = df2[df2["km"] < 155000]

In [12]:
df2 = df2.dropna(subset=["price"])

In [13]:
df2["price"] = df2["price"].astype(int)

In [14]:
pd.set_option("display.max_rows", None)

df2["model"].value_counts()

model
Golf                              223
Focus                             104
T-Roc                             101
Kuga                               99
Puma                               88
Leon                               83
Corsa                              78
T-Cross                            76
A3                                 66
Taigo                              66
Astra                              64
i30                                64
Octavia                            60
Kamiq                              57
Arona                              54
Passat Variant                     48
Ibiza                              45
ZS                                 42
cee'd Sportswagon                  39
Formentor                          39
Ateca                              38
Tiguan                             37
KONA                               37
Scala                              36
Mokka                              35
Grandland (X)                      34
Duster                             33
A4                                 32
i20                                32
Crossland (X)                      32
Vitara                             32
Caddy                              32
3008                               32
118                                31
Q3                                 30
A1                                 28
TUCSON                             27
Yaris                              27
BAYON                              26
Fiesta                             25
Juke                               25
Fabia                              25
Polo                               24
208                                24
308                                24
Touran                             23
Qashqai                            23
cee'd / Ceed                       23
Corolla                            22
Jogger                             22
XCeed                              22
Cooper C                           21
MG3                                20
Q2                                 19
Yaris Cross                        19
2008                               19
Sportage                           18
320                                18
Superb                             17
C 200                              17
Karoq                              17
C4                                 17
C-HR                               17
C5 Aircross                        17
A6                                 16
Transit                            15
218 Active Tourer                  15
A 200                              15
HS                                 15
Arkana                             15
5008                               15
Tourneo Courier                    14
Compass                            14
120                                14
318                                14
A 180                              14
(SX4) S-Cross                      14
Sandero                            14
Arteon                             13
Cooper                             13
Captur                             13
Doblo                              12
Vito                               12
116                                12
Eclipse Cross                      12
B 180                              12
X1                                 12
Stonic                             12
X2                                 11
pro cee'd / ProCeed                11
EcoSport                           11
C 300                              11
C 220                              11
C3 Aircross                        10
C 180                              10
Avenger                            10
520                                10
330                                 9
Combo                               9
ASX                                 9
Tarraco                             9
408                                 9
Proace City                         9
Cooper S                            9
CX-30                               9
3                                   9
Insignia                            8
CLA 200 Shooting Brake              8
218 Gran Coupé                      8
Transit Connect                     8
Austral                             8
A5                                  8
Megane                              8
Q4 e-tron                           8
Enyaq                               8
B 200                               7
ONE                                 7
Automobiles DS7 (Crossback)         7
Kodiaq                              7
Kadjar                              7
C3                                  7
Transit Custom                      7
KONA Elektro                        6
Caddy Maxi                          6
Tiguan Allspace                     6
CLA 250 Shooting Brake              6
Soul                                6
Niro                                6
Frontera                            6
MX-5                                6
Transit Courier                     6
6                                   6
508                                 6
X-Trail                             6
218 Gran Tourer                     6
T6 Transporter                      6
Q4                                  5
CLA 180 Shooting Brake              5
600                                 5
GLA 250                             5
T6 Kombi                            5
E 200                               5
CLA 200                             5
Galaxy                              5
Mondeo                              5
Tipo                                5
Movano                              5
Grande Panda                        5
B 250                               5
530                                 5
XC40                                5
A 220                               5
Sprinter                            5
Renegade                            5
ID.3                                5
Berlingo                            5
Kangoo                              5
Proace (Verso)                      5
V60                                 5
Clio                                5
Alhambra                            5
Rover Discovery Sport               5
Korando                             4
Romeo Tonale                        4
500e                                4
F-Pace                              4
Q5                                  4
Citan                               4
A 250                               4
E 300                               4
595                                 4
XC60                                4
218                                 4
Expert                              4
GLA 200                             4
Rover Range Rover Evoque            4
Grand Scenic                        4
Jazz                                4
Vivaro                              4
MX-30                               4
E 250                               4
Crafter                             4
Passat                              4
V90                                 4
Cooper Cabrio                       4
500X                                4
328 Gran Turismo                    4
Civic                               3
Aygo (X)                            3
INSTER                              3
Grand C4 Picasso / SpaceTourer      3
CLA 180                             3
Swift                               3
220 Active Tourer                   3
C5 X                                3
Otros                               3
Ranger                              3
CLA 45 AMG                          3
Tourneo Custom                      3
Ducato                              3
One Cabrio                          3
GLA 180                             3
Outlander                           3
2 Hybrid                            3
Cooper SE                           3
Combo Life                          3
Townstar                            3
CX-5                                3
E-Pace                              3
X3                                  3
Zafira Life                         3
CLA 220                             3
500                                 3
IONIQ 6                             3
Automobiles DS4                     3
Zafira                              2
IONIQ 5                             2
Boxer                               2
Niro EV                             2
Scudo                               2
Rover Range Rover Sport             2
CLA 250                             2
John Cooper Works                   2
Automobiles DS3 Crossback           2
GLC 250                             2
Mustang                             2
Torres                              2
Cooper S Cabrio                     2
iX                                  2
420 Gran Coupé                      2
Jumper                              2
695                                 2
Tivoli                              2
Mokka X                             2
Cooper Clubman                      2
NEXO                                2
220 Gran Coupé                      2
RS7                                 2
Koleos                              2
Optima                              2
216 Active Tourer                   2
S60                                 2
223 Active Tourer                   2
220 Gran Tourer                     2
GLB 200                             2
B-Max                               2
420                                 2
Automobiles DS3                     2
Grand Tourneo                       2
Romeo Junior                        2
Passat Alltrack                     2
Trafic                              2
Micra                               2
John Cooper Works Cabrio            2
Sharan                              2
T6 otros                            2
CLA Shooting Brake                  2
S-Max                               2
Cooper D Countryman                 2
M440                                2
i4                                  2
Adam                                2
CLA 220 Shooting Brake              2
Jumpy                               2
MG4                                 2
GLS 350                             2
EQA                                 2
RSQ3                                2
M4                                  2
SANTA FE                            2
Grand C-Max                         2
T6 Multivan                         1
S90                                 1
i3                                  1
A6 Allroad                          1
S5                                  1
Rover Range Rover Velar             1
Born                                1
Swace                               1
C-Max                               1
Mokka-e                             1
R 5                                 1
ë-C4                                1
H-1 Starex                          1
Proace Max                          1
H350                                1
C4 X                                1
IONIQ                               1
Rapid                               1
Z4                                  1
Cooper C Countryman                 1
Rover Discovery                     1
GLA 220                             1
S3                                  1
500C                                1
C 43 AMG                            1
Cascada                             1
Cooper SE Countryman                1
GLE 250                             1
Primastar                           1
435 Gran Coupé                      1
Cooper Countryman                   1
HR-V                                1
Megane E-TECH                       1
ZOE                                 1
225 Active Tourer                   1
Talisman                            1
T6 Caravelle                        1
GLC 350                             1
Venga                               1
216                                 1
Colt                                1
EV6                                 1
Dokker                              1
MG5                                 1
A4 Allroad                          1
228                                 1
B 220                               1
K4                                  1
595C                                1
Camry                               1
EHS                                 1
Rifter                              1
Golf Sportsvan                      1
ID.4                                1
Romeo Stelvio                       1
Symbioz                             1
Cooper D                            1
One Clubman                         1
230                                 1
Stinger                             1
V40                                 1
Cooper SD                           1
Navara                              1
X 250                               1
Combo Electric                      1
Cooper D Clubman                    1
bZ4X                                1
Espace                              1
H-1                                 1
2                                   1
Clase T                             1
S4                                  1
C40                                 1
C 250                               1
Partner                             1
John Cooper Works Countryman        1
Romeo Giulia                        1
M135                                1
Mirai                               1
C5                                  1
225                                 1
128                                 1
Talento                             1
Rio                                 1
325                                 1
695C                                1
RAV 4                               1
NV300                               1
Name: count, dtype: int64

In [15]:
df_es = pd.read_csv("../../data/interim/spain_sample.csv", header=0)

In [16]:
df_es.head()

        brand model  price      km  year   cv
0  Volkswagen  Golf  16400  126000  2014  220
1  Volkswagen  Golf  16500  134000  2015  150
2  Volkswagen  Golf  14500  157000  2017  150
3  Volkswagen  Golf  17990  105000  2021  115
4  Volkswagen  Golf  28900   92000  2021  150

In [17]:
df_de = df2.copy()
df_de["country"] = "DE"
df_es["country"] = "ES"

df_all = pd.concat([df_de, df_es], ignore_index=True)

In [18]:
df_de['price'].value_counts()

price
29990     59
26990     59
24990     58
25990     52
23990     52
19990     49
27990     49
28990     46
21990     41
18990     36
22990     34
29980     31
17990     31
26490     28
24980     27
28490     25
20990     24
23950     24
23980     23
22490     22
19950     22
23490     22
23890     21
25490     21
19900     20
24950     20
25890     20
28980     20
16990     19
26890     19
27490     19
21980     18
14990     18
23900     18
28890     18
21490     17
24890     17
28950     17
26950     16
29900     16
22980     15
17490     15
27900     15
22890     15
29950     14
21900     14
25980     14
24490     14
27890     14
17950     14
15990     13
19980     13
21950     13
25900     13
18490     13
18950     12
22950     12
29880     12
27999     12
25950     11
26980     11
20950     11
29890     11
19890     11
27980     11
26880     11
29490     11
19490     11
17900     11
20490     11
28900     11
27950     11
28480     11
18890     11
29999     10
28880     10
27480     10
21890     10
21450      9
18980      9
25480      9
23450      9
26450      9
20450      9
21480      9
28450      9
19450      9
16490      9
24450      8
25880      8
15980      8
22900      8
26995      8
27850      8
29960      8
26900      8
17890      8
29970      7
16900      7
28999      7
25790      7
24290      7
28180      7
23880      7
26390      7
26970      7
15890      7
19500      7
26999      7
25999      7
27690      7
21999      7
24999      7
29450      7
14999      7
24900      7
22850      7
19999      7
24930      6
24880      6
22999      6
29850      6
22440      6
21750      6
24480      6
25390      6
27440      6
26690      6
16890      6
25450      6
20900      6
23480      6
23500      6
29930      6
23790      6
28930      6
25850      6
24750      6
28970      6
20980      5
28700      5
28850      5
18290      5
25280      5
16999      5
26400      5
28690      5
24790      5
24850      5
29895      5
18690      5
14490      5
15490      5
15950      5
18900      5
28290      5
21880      5
27380      5
21440      5
23440      5
22450      5
13490      5
29860      5
22480      5
20880      5
29480      5
26480      5
18500      5
29290      5
14890      5
28390      5
22970      5
18880      5
25840      5
29995      4
26500      4
28500      4
27780      4
26850      4
12990      4
19690      4
21380      4
16950      4
13990      4
22870      4
23750      4
22000      4
29250      4
20970      4
27995      4
24390      4
19480      4
19790      4
26940      4
18790      4
29280      4
29700      4
27680      4
20740      4
24440      4
22475      4
27390      4
24800      4
27800      4
23590      4
21590      4
20390      4
26190      4
17980      4
27499      4
23850      4
20290      4
27500      4
20750      4
29680      4
11990      4
19590      4
28780      4
27470      4
16940      4
29750      4
24960      4
29449      4
23190      4
27400      3
26250      3
26330      3
25550      3
29940      3
24590      3
29580      3
23290      3
29780      3
18780      3
28790      3
14790      3
18940      3
20795      3
25530      3
24460      3
20890      3
30900      3
19930      3
21390      3
27450      3
27590      3
19850      3
29488      3
25998      3
25590      3
9980       3
25860      3
14950      3
16499      3
19550      3
24995      3
16985      3
27750      3
16450      3
23280      3
22899      3
19250      3
23390      3
20430      3
25750      3
24190      3
16850      3
25699      3
21740      3
26930      3
25985      3
29690      3
29400      3
17450      3
28150      3
22470      3
26650      3
21580      3
16980      3
21690      3
15800      3
20940      3
29790      3
21970      3
28548      3
28294      3
20790      3
17690      3
24280      3
18460      3
19290      3
15600      3
17500      3
21550      3
17880      3
16790      3
25975      3
29495      3
24350      3
22400      3
22780      3
24888      3
24500      3
22750      3
21280      3
10980      3
13950      3
12900      3
17740      3
29500      3
24640      3
21650      3
26440      3
21680      3
22290      3
26280      3
28590      3
17420      3
28680      3
25440      3
23780      3
20500      3
23350      3
29349      3
17290      3
27650      2
22790      2
25800      2
24250      2
22600      2
17995      2
27970      2
27700      2
24700      2
24780      2
47889      2
25848      2
14399      2
13960      2
22500      2
17790      2
23499      2
9950       2
23679      2
17870      2
28749      2
25460      2
20650      2
16690      2
15995      2
14880      2
23760      2
25601      2
26580      2
25340      2
23776      2
27740      2
26200      2
20895      2
25780      2
28400      2
15680      2
26077      2
20830      2
20440      2
18380      2
24899      2
20395      2
21940      2
26350      2
9990       2
18450      2
24400      2
12980      2
24444      2
17430      2
19940      2
28350      2
25740      2
27495      2
29390      2
28460      2
19460      2
15450      2
14900      2
20960      2
29985      2
13499      2
26750      2
27794      2
23460      2
221900     2
12590      2
26340      2
16700      2
24840      2
18989      2
20480      2
19200      2
23998      2
21840      2
29870      2
37879      2
12999      2
21190      2
22860      2
26180      2
25960      2
24690      2
25500      2
27985      2
25348      2
25430      2
19880      2
21850      2
25320      2
14749      2
86500      2
22690      2
17440      2
25680      2
21720      2
19390      2
18150      2
17580      2
29749      2
25770      2
25940      2
21340      2
28440      2
18750      2
21530      2
9290       2
8695       2
22390      2
15390      2
22985      2
21460      2
26740      2
29555      2
22880      2
23600      2
26799      2
28750      2
24970      2
27290      2
13880      2
58667      2
28969      2
28840      2
25125      2
8990       2
23979      2
17560      2
25290      2
62450      2
17798      2
23848      2
24848      2
23580      2
26790      2
19800      2
49620      2
17480      2
21160      2
13800      2
25970      2
16470      2
21300      2
39900      2
23400      2
28740      2
23690      2
17780      2
17850      2
27350      2
25600      2
29200      2
28995      2
26640      2
28000      2
29470      2
29380      2
22830      2
15590      2
15650      2
24540      2
16550      2
18680      2
26780      2
23999      2
24940      2
21350      2
17750      2
21399      2
20590      2
62890      2
43900      2
24499      2
24740      2
59960      2
16880      2
20690      2
24300      2
14390      2
25690      2
22960      2
20340      2
26430      2
23988      2
19190      2
46990      2
15500      2
23470      2
27790      2
29820      2
17985      2
15940      2
14480      2
27880      2
17940      2
22190      2
34990      2
26700      2
12530      1
7490       1
28560      1
20745      1
29610      1
22920      1
23550      1
13480      1
22777      1
24966      1
24600      1
22700      1
29799      1
24395      1
22340      1
28550      1
18499      1
19080      1
16760      1
21949      1
26985      1
13150      1
21090      1
26353      1
26599      1
28299      1
25400      1
22180      1
27485      1
14000      1
23700      1
18691      1
13999      1
29572      1
11950      1
27340      1
24380      1
22640      1
28879      1
15755      1
26710      1
28430      1
25945      1
19649      1
28280      1
12600      1
12745      1
12390      1
23908      1
24475      1
15850      1
29738      1
13900      1
24470      1
22989      1
27330      1
20820      1
16929      1
26945      1
16540      1
13290      1
27367      1
22975      1
21430      1
15440      1
19780      1
23560      1
27811      1
7480       1
22160      1
23540      1
22015      1
25895      1
24770      1
20330      1
25710      1
23870      1
20470      1
23170      1
13500      1
24180      1
17110      1
25795      1
10180      1
19791      1
20800      1
25482      1
16170      1
18160      1
22869      1
19901      1
23419      1
22730      1
11180      1
29979      1
20845      1
15640      1
29840      1
27130      1
28130      1
17200      1
10750      1
18909      1
26698      1
13890      1
22350      1
24891      1
20080      1
10400      1
17499      1
29145      1
27978      1
28100      1
17466      1
22150      1
25862      1
28989      1
28785      1
28677      1
27560      1
17730      1
25695      1
24285      1
23975      1
26489      1
20885      1
25299      1
17981      1
27250      1
8995       1
26800      1
11699      1
23779      1
15220      1
19979      1
19810      1
18550      1
27640      1
19895      1
28380      1
20389      1
21760      1
26300      1
22620      1
8900       1
28888      1
10280      1
16560      1
17650      1
23699      1
29788      1
15691      1
14700      1
18295      1
28810      1
27349      1
27445      1
24998      1
16240      1
28789      1
11998      1
23920      1
20195      1
18475      1
29617      1
24095      1
14840      1
26413      1
25700      1
27435      1
25350      1
25879      1
17840      1
13455      1
29320      1
28985      1
21931      1
19150      1
21790      1
25756      1
28090      1
14849      1
19889      1
12080      1
23903      1
21235      1
23530      1
21499      1
22649      1
21899      1
27888      1
22670      1
23860      1
19299      1
16949      1
11520      1
26879      1
28070      1
15770      1
17445      1
27200      1
13300      1
19735      1
21985      1
23599      1
20460      1
17189      1
22930      1
16895      1
24650      1
23995      1
23444      1
26555      1
13945      1
24670      1
29649      1
25180      1
27260      1
24090      1
14885      1
27410      1
18599      1
26475      1
23650      1
28788      1
17700      1
19975      1
20275      1
25250      1
19280      1
25883      1
11899      1
16919      1
17503      1
29600      1
20528      1
26590      1
18850      1
29740      1
26290      1
24825      1
28710      1
17999      1
22740      1
12820      1
25925      1
21929      1
28800      1
26229      1
22979      1
27840      1
19919      1
29509      1
18274      1
24680      1
23151      1
20860      1
19830      1
23775      1
12929      1
27580      1
6499       1
20468      1
22977      1
12550      1
25362      1
15501      1
14720      1
28451      1
25875      1
24830      1
25888      1
28349      1
21800      1
15560      1
24455      1
20640      1
19580      1
21420      1
27665      1
29789      1
10330      1
21695      1
20754      1
21979      1
20888      1
29959      1
24430      1
19949      1
19199      1
17389      1
25330      1
29499      1
24949      1
26017      1
24448      1
29910      1
18390      1
19749      1
25630      1
24466      1
19399      1
29502      1
25725      1
24170      1
22080      1
16630      1
20770      1
18930      1
23680      1
15840      1
28220      1
15760      1
18740      1
10699      1
18269      1
26495      1
25930      1
29660      1
22250      1
25300      1
19600      1
14980      1
21290      1
11500      1
25660      1
29770      1
29202      1
17888      1
28770      1
22380      1
23610      1
12790      1
25349      1
25598      1
14590      1
20735      1
16750      1
14600      1
27100      1
25385      1
25849      1
29485      1
17970      1
26979      1
25558      1
15499      1
27830      1
24284      1
19400      1
23410      1
28521      1
18649      1
25360      1
6980       1
15489      1
20919      1
29974      1
17960      1
14648      1
26895      1
17640      1
12490      1
16590      1
13650      1
14599      1
12690      1
9490       1
12995      1
22245      1
13690      1
20180      1
23333      1
26199      1
27998      1
28199      1
20455      1
22580      1
14221      1
24911      1
29277      1
20170      1
24488      1
23401      1
9900       1
27960      1
22897      1
27930      1
22222      1
15920      1
23447      1
18180      1
10495      1
21470      1
24946      1
24889      1
22550      1
31900      1
28927      1
21500      1
26989      1
13980      1
29630      1
18170      1
27679      1
16390      1
20444      1
23286      1
17830      1
27870      1
26425      1
17190      1
29489      1
14450      1
22430      1
26998      1
20666      1
24989      1
19740      1
12200      1
19485      1
12570      1
25220      1
19670      1
29791      1
22555      1
23969      1
27280      1
29982      1
25901      1
17959      1
28190      1
27844      1
25100      1
17600      1
22995      1
18920      1
25720      1
18730      1
28795      1
22499      1
28241      1
22444      1
28820      1
26090      1
19278      1
11490      1
16480      1
29899      1
27770      1
29460      1
16981      1
19888      1
20680      1
27190      1
12880      1
22595      1
17770      1
11040      1
18480      1
24805      1
22249      1
27684      1
21995      1
25958      1
28963      1
18800      1
28600      1
25449      1
19870      1
29563      1
19650      1
26991      1
26860      1
17800      1
20933      1
23620      1
27913      1
19440      1
27919      1
22229      1
26299      1
25474      1
26560      1
18280      1
17479      1
29396      1
13673      1
23885      1
20670      1
10546      1
29795      1
19519      1
9700       1
22885      1
22910      1
29402      1
28420      1
23948      1
26899      1
28976      1
25984      1
16197      1
26499      1
21270      1
15290      1
14242      1
18870      1
11590      1
19420      1
27225      1
11900      1
13850      1
20249      1
25830      1
17889      1
8999       1
26861      1
26150      1
26485      1
18530      1
20749      1
11880      1
14499      1
25919      1
22495      1
28949      1
15999      1
10900      1
17380      1
24580      1
29383      1
17309      1
17991      1
28469      1
28580      1
21930      1
20985      1
15350      1
22689      1
29559      1
27155      1
23230      1
23910      1
20995      1
29436      1
19530      1
23330      1
20400      1
26448      1
27812      1
24969      1
28401      1
18350      1
23640      1
23939      1
21240      1
28200      1
22590      1
15540      1
24827      1
26660      1
9450       1
17390      1
13350      1
25942      1
16780      1
27196      1
17140      1
18666      1
25380      1
18998      1
28640      1
24491      1
22949      1
24514      1
20910      1
19750      1
29230      1
16120      1
16250      1
22220      1
28913      1
18899      1
12310      1
29590      1
21780      1
17180      1
14580      1
29299      1
26000      1
15985      1
10100      1
13450      1
22309      1
25190      1
23940      1
22988      1
20997      1
15552      1
19970      1
26704      1
29888      1
23090      1
23100      1
18140      1
18999      1
20788      1
23991      1
20975      1
15989      1
26364      1
14750      1
19270      1
13790      1
25948      1
20499      1
10490      1
29330      1
18440      1
9690       1
20550      1
20199      1
29139      1
27284      1
21960      1
27988      1
20870      1
21567      1
22300      1
26600      1
25949      1
16912      1
26905      1
19499      1
28925      1
19380      1
15889      1
28940      1
22539      1
26315      1
28988      1
26680      1
19555      1
24801      1
11890      1
27000      1
28010      1
24099      1
25422      1
10500      1
20730      1
22503      1
27670      1
10480      1
23960      1
22677      1
21788      1
19770      1
24495      1
25230      1
19100      1
15899      1
22467      1
29090      1
22709      1
23495      1
27889      1
20889      1
29469      1
26470      1
24020      1
16403      1
27845      1
25988      1
21920      1
15901      1
25749      1
23930      1
16860      1
19430      1
29949      1
28348      1
20510      1
29350      1
22820      1
12889      1
15690      1
25995      1
25495      1
16500      1
21870      1
16440      1
28429      1
25541      1
18995      1
16300      1
18670      1
26380      1
9499       1
18893      1
27358      1
29830      1
23300      1
16220      1
27857      1
18985      1
27777      1
20789      1
9970       1
23895      1
23970      1
21789      1
24220      1
20140      1
20010      1
9940       1
25488      1
20280      1
24000      1
25019      1
24877      1
22345      1
12799      1
24814      1
23748      1
Name: count, dtype: int64

In [19]:
df_all.groupby(["model","country"])["price"].median().unstack()

country                               DE       ES
model
(SX4) S-Cross                    24939.0      NaN
116                              18840.0      NaN
118                              22450.0      NaN
120                              27495.0      NaN
128                              24690.0      NaN
2                                19990.0      NaN
2 Hybrid                         24490.0      NaN
2008                             23890.0      NaN
208                              18890.0      NaN
216                              28990.0      NaN
216 Active Tourer                26205.0      NaN
218                              24619.0      NaN
218 Active Tourer                27812.0      NaN
218 Gran Coupé                   25695.5      NaN
218 Gran Tourer                  17925.0      NaN
220 Active Tourer                27400.0      NaN
220 Gran Coupé                   27120.0      NaN
220 Gran Tourer                  24145.0      NaN
223 Active Tourer                29690.0      NaN
225                              28290.0      NaN
225 Active Tourer                17990.0      NaN
228                              18980.0      NaN
230                              25990.0      NaN
3                                25600.0      NaN
3008                             23085.0      NaN
308                              22944.5      NaN
318                              26494.5      NaN
320                              27499.0      NaN
325                              18450.0      NaN
328 Gran Turismo                 22915.0      NaN
330                              27900.0      NaN
408                              28480.0      NaN
420                              21740.0      NaN
420 Gran Coupé                   21980.0      NaN
435 Gran Coupé                   29950.0      NaN
500                              21490.0      NaN
5008                             24780.0      NaN
500C                             20740.0      NaN
500X                             18035.0      NaN
500e                             15890.0      NaN
508                              21687.5      NaN
520                              27515.0      NaN
530                              28450.0      NaN
595                              18322.5      NaN
595C                             19490.0      NaN
6                                29489.5      NaN
600                              26990.0      NaN
695                              25998.0      NaN
695C                             26998.0      NaN
A 180                            26670.0      NaN
A 200                            27684.0      NaN
A 220                            23700.0      NaN
A 250                            27150.0      NaN
A1                               24370.0  18500.0
A3                               24764.0  22450.0
A4                               25660.0  21495.0
A4 Allroad                       29860.0      NaN
A5                               28490.0  26000.0
A6                               28289.5  22900.0
A6 Allroad                       25900.0      NaN
ASX                              24466.0      NaN
Adam                              8480.0      NaN
Alhambra                         24500.0      NaN
Arkana                           25490.0      NaN
Arona                            22230.0  16000.0
Arteon                           29799.0      NaN
Astra                            22950.0  12350.0
Ateca                            25655.0      NaN
Austral                          28940.0      NaN
Automobiles DS3                  20980.0      NaN
Automobiles DS3 Crossback        18459.5      NaN
Automobiles DS4                  18490.0      NaN
Automobiles DS7 (Crossback)      28390.0      NaN
Avenger                          27970.0      NaN
Aygo (X)                         24280.0      NaN
B 180                            26565.0      NaN
B 200                            25990.0      NaN
B 220                            19810.0      NaN
B 250                            23490.0      NaN
B-Max                             7744.5      NaN
BAYON                            20740.0      NaN
Berlingo                         25790.0      NaN
Born                             26880.0      NaN
Boxer                            15475.5      NaN
C 180                            23045.0      NaN
C 200                            26500.0      NaN
C 220                            25710.0      NaN
C 250                            24600.0      NaN
C 300                            26950.0      NaN
C 43 AMG                         29490.0      NaN
C-HR                             25495.0      NaN
C-Max                             9950.0      NaN
C3                               14990.0      NaN
C3 Aircross                      17077.5      NaN
C4                               21490.0      NaN
C4 X                             22910.0      NaN
C40                              29990.0      NaN
C5                               21990.0      NaN
C5 Aircross                      21450.0      NaN
C5 X                             21399.0      NaN
CLA 180                          28690.0      NaN
CLA 180 Shooting Brake           26970.0      NaN
CLA 200                          24490.0      NaN
CLA 200 Shooting Brake           23880.0      NaN
CLA 220                          29499.0      NaN
CLA 220 Shooting Brake           25744.5      NaN
CLA 250                          29340.0      NaN
CLA 250 Shooting Brake           24915.0      NaN
CLA 45 AMG                       28999.0      NaN
CLA Shooting Brake               16944.0      NaN
CX-30                            23990.0      NaN
CX-5                             29680.0      NaN
Caddy                            25690.0      NaN
Caddy Maxi                       27990.0      NaN
Camry                            29980.0      NaN
Captur                           22897.0      NaN
Cascada                          11699.0      NaN
Citan                            13947.0      NaN
Civic                            34990.0      NaN
Clase T                          26995.0      NaN
Clio                             17740.0      NaN
Colt                             25990.0      NaN
Combo                            16950.0      NaN
Combo Electric                   29999.0      NaN
Combo Life                       16990.0      NaN
Compass                          25240.0      NaN
Cooper                           22400.0      NaN
Cooper C                         25601.0      NaN
Cooper C Countryman              29970.0      NaN
Cooper Cabrio                    19445.0      NaN
Cooper Clubman                   16474.5      NaN
Cooper Countryman                25690.0      NaN
Cooper D                         17900.0      NaN
Cooper D Clubman                 14990.0      NaN
Cooper D Countryman              17940.0      NaN
Cooper S                         23780.0      NaN
Cooper S Cabrio                  29099.0      NaN
Cooper SD                        22000.0      NaN
Cooper SE                        17290.0      NaN
Cooper SE Countryman             24850.0      NaN
Corolla                          26090.0      NaN
Corsa                            17990.0  13500.0
Crafter                          27440.0      NaN
Crossland (X)                    17885.0      NaN
Doblo                            27940.0      NaN
Dokker                           18990.0      NaN
Ducato                           28980.0      NaN
Duster                           24990.0      NaN
E 200                            23980.0      NaN
E 250                            22625.0      NaN
E 300                            27690.0      NaN
E-Pace                           26950.0      NaN
EHS                              29990.0      NaN
EQA                              28636.0      NaN
EV6                              25990.0      NaN
Eclipse Cross                    24470.0      NaN
EcoSport                         16790.0      NaN
Enyaq                            26435.0      NaN
Espace                           26000.0      NaN
Expert                           26665.0      NaN
F-Pace                           21240.0      NaN
Fabia                            23460.0      NaN
Fiesta                           17990.0      NaN
Focus                            22369.5  15200.0
Formentor                        25960.0      NaN
Frontera                         27237.5      NaN
GLA 180                          25888.0      NaN
GLA 200                          22615.0      NaN
GLA 220                          24990.0      NaN
GLA 250                          21990.0      NaN
GLB 200                          25840.0      NaN
GLC 250                          29435.0      NaN
GLC 350                          29880.0      NaN
GLE 250                          27990.0      NaN
GLS 350                          62450.0      NaN
Galaxy                           25895.0      NaN
Golf                             23440.0  18870.0
Golf Sportsvan                   16949.0      NaN
Grand C-Max                      13490.0      NaN
Grand C4 Picasso / SpaceTourer   13480.0      NaN
Grand Scenic                     18992.5      NaN
Grand Tourneo                    20990.0      NaN
Grande Panda                     22990.0      NaN
Grandland (X)                    23480.0      NaN
H-1                              21740.0      NaN
H-1 Starex                       19999.0      NaN
H350                             11880.0      NaN
HR-V                             27990.0      NaN
HS                               25890.0      NaN
ID.3                             20740.0      NaN
ID.4                             29930.0      NaN
INSTER                           27690.0      NaN
IONIQ                            16220.0      NaN
IONIQ 5                          27490.0      NaN
IONIQ 6                          25925.0      NaN
Ibiza                            21450.0  13350.0
Insignia                         19919.0      NaN
Jazz                             26815.0      NaN
Jogger                           22237.5      NaN
John Cooper Works                26925.0      NaN
John Cooper Works Cabrio         23935.0      NaN
John Cooper Works Countryman     27850.0      NaN
Juke                             20889.0      NaN
Jumper                           27974.5      NaN
Jumpy                            26199.0      NaN
K4                               29788.0      NaN
KONA                             27480.0      NaN
KONA Elektro                     17990.0      NaN
Kadjar                           13300.0      NaN
Kamiq                            25490.0  18000.0
Kangoo                           17900.0      NaN
Karoq                            25850.0      NaN
Kodiaq                           26985.0      NaN
Koleos                           25740.0      NaN
Korando                          22335.0      NaN
Kuga                             23950.0  19000.0
Leon                             25320.0  15500.0
M135                             29750.0      NaN
M4                               86500.0      NaN
M440                             59960.0      NaN
MG3                              18890.0      NaN
MG4                              21695.0      NaN
MG5                              15990.0      NaN
MX-30                            25115.0      NaN
MX-5                             29384.5      NaN
Megane                           13494.5      NaN
Megane E-TECH                    16900.0      NaN
Micra                            18840.0      NaN
Mirai                            12995.0      NaN
Mokka                            20480.0      NaN
Mokka X                          13135.0      NaN
Mokka-e                          16900.0      NaN
Mondeo                           15490.0      NaN
Movano                           22980.0      NaN
Mustang                          27095.0      NaN
NEXO                             15490.0      NaN
NV300                            16980.0      NaN
Navara                           26490.0      NaN
Niro                             22235.0      NaN
Niro EV                          25255.0      NaN
ONE                              13980.0      NaN
Octavia                          23500.0  19000.0
One Cabrio                       17450.0      NaN
One Clubman                      21650.0      NaN
Optima                           17038.5      NaN
Otros                            24990.0      NaN
Outlander                        21980.0      NaN
Partner                          24950.0      NaN
Passat                           21260.0  19995.0
Passat Alltrack                  26815.0      NaN
Passat Variant                   23449.5      NaN
Polo                             20450.0  16000.0
Primastar                        27999.0      NaN
Proace (Verso)                   22015.0      NaN
Proace City                      25840.0      NaN
Proace Max                       29436.0      NaN
Puma                             23720.0  16650.0
Q2                               25390.0      NaN
Q3                               26880.0      NaN
Q4                               25840.0      NaN
Q4 e-tron                        27815.0      NaN
Q5                               27670.0      NaN
Qashqai                          23900.0      NaN
R 5                              28890.0      NaN
RAV 4                            21380.0      NaN
RS7                             221900.0      NaN
RSQ3                             25990.0      NaN
Ranger                           62890.0      NaN
Rapid                             9970.0      NaN
Renegade                         27850.0      NaN
Rifter                           19980.0      NaN
Rio                              12570.0      NaN
Romeo Giulia                     28390.0      NaN
Romeo Junior                     29235.0      NaN
Romeo Stelvio                    25890.0      NaN
Romeo Tonale                     28455.0      NaN
Rover Discovery                  29900.0      NaN
Rover Discovery Sport            23990.0      NaN
Rover Range Rover Evoque         26275.0      NaN
Rover Range Rover Sport          26545.0      NaN
Rover Range Rover Velar          24990.0      NaN
S-Max                            26295.0      NaN
S3                               26880.0      NaN
S4                               29990.0      NaN
S5                               28980.0      NaN
S60                              25765.0      NaN
S90                              21999.0      NaN
SANTA FE                         21160.0      NaN
Sandero                          18890.0      NaN
Scala                            25040.0      NaN
Scudo                            20982.5      NaN
Sharan                           22425.0      NaN
Soul                             26440.0      NaN
Sportage                         25520.0      NaN
Sprinter                         27358.0      NaN
Stinger                          24980.0      NaN
Stonic                           21835.0      NaN
Superb                           23900.0      NaN
Swace                            27990.0      NaN
Swift                            13800.0      NaN
Symbioz                          28480.0      NaN
T-Cross                          26395.0  17995.0
T-Roc                            26900.0  21790.0
T6 Caravelle                     28430.0      NaN
T6 Kombi                         26500.0      NaN
T6 Multivan                      29900.0      NaN
T6 Transporter                   24137.5      NaN
T6 otros                         25228.0      NaN
TUCSON                           27380.0      NaN
Taigo                            24930.0  18000.0
Talento                          17490.0      NaN
Talisman                         18666.0      NaN
Tarraco                          25990.0      NaN
Tiguan                           25880.0  23050.0
Tiguan Allspace                  23615.0      NaN
Tipo                             18980.0      NaN
Tivoli                           14815.0      NaN
Torres                           24994.5      NaN
Touran                           25990.0      NaN
Tourneo Courier                  25890.0      NaN
Tourneo Custom                   58667.0      NaN
Townstar                         22990.0      NaN
Trafic                           21945.0      NaN
Transit                          22990.0      NaN
Transit Connect                  23883.0      NaN
Transit Courier                  22359.5      NaN
Transit Custom                   23440.0      NaN
V40                              15990.0      NaN
V60                              25950.0      NaN
V90                              27675.0      NaN
Venga                             9950.0      NaN
Vitara                           26990.0      NaN
Vito                             25099.5      NaN
Vivaro                           28240.0      NaN
X 250                            29617.0      NaN
X-Trail                          28890.0      NaN
X1                               23945.0      NaN
X2                               24890.0      NaN
X3                               27670.0      NaN
XC40                             28700.0      NaN
XC60                             27730.0      NaN
XCeed                            25285.0      NaN
Yaris                            24790.0      NaN
Yaris Cross                      26180.0      NaN
Z4                               18950.0      NaN
ZOE                              19500.0      NaN
ZS                               21695.0      NaN
Zafira                            9390.0      NaN
Zafira Life                      24840.0      NaN
bZ4X                             28930.0      NaN
cee'd / Ceed                     23760.0      NaN
cee'd Sportswagon                26440.0      NaN
i20                              20800.0      NaN
i3                               19900.0      NaN
i30                              23990.0  12500.0
i4                               43900.0      NaN
iX                               46990.0      NaN
pro cee'd / ProCeed              27990.0      NaN
ë-C4                             16890.0      NaN

In [20]:
df_all[df_all["model"]=="Tiguan"].groupby("country")["price"].describe()

,count,mean,std,min,25%,50%,75%,max
country,,,,,,,,
DE,37.0,25615.648649,4682.788083,11490.0,23590.0,25880.0,27740.0,37879.0
ES,20.0,23075.000000,5169.635536,14700.0,19000.0,23050.0,26325.0,31400.0

In [21]:
df_all[df_all["model"]=="A3"].groupby("country")["price"].describe()

,count,mean,std,min,25%,50%,75%,max
country,,,,,,,,
DE,66.0,24532.833333,3304.036657,16990.0,22876.75,24764.0,26437.5,29990.0
ES,22.0,36447.272727,70225.008582,11650.0,18000.00,22450.0,25650.0,349950.0

In [ ]:
df_all[df_all["model"]=="Golf"].groupby("country")["price"].describe()

,count,mean,std,min,25%,50%,75%,max
country,,,,,,,,
DE,223.0,23301.55157,4631.137287,11180.0,19940.00,23440.0,27740.0,31900.0
ES,36.0,19374.00000,5887.881962,10600.0,14424.75,18870.0,22100.0,38990.0

In [23]:
df_all[df_all["model"]=="Focus"].groupby("country")["price"].describe()

,count,mean,std,min,25%,50%,75%,max
country,,,,,,,,
DE,104.0,21969.923077,4590.414762,7490.0,18752.5,22369.5,25500.0,29990.0
ES,22.0,15122.727273,4101.182387,8000.0,11887.5,15200.0,17000.0,24500.0

In [24]:
df_all["year_bin"] = pd.cut(
    df_all["year"],
    bins=[2012, 2015, 2018, 2021, 2025]
)

df_all["km_bin"] = pd.cut(
    df_all["km"],
    bins=[0, 60000, 120000, 180000]
)

In [25]:
(
    df_all
    .groupby(["model","year_bin","km_bin","country"])["price"]
    .median()
    .unstack()
    .dropna()
)

C:\Users\polur\AppData\Local\Temp\ipykernel_16084\4170570546.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby(["model","year_bin","km_bin","country"])["price"]

country                                    DE       ES
model  year_bin     km_bin
A3     (2018, 2021] (60000, 120000]   22980.0  23700.0
A4     (2018, 2021] (120000, 180000]  25390.0  20990.0
Golf   (2012, 2015] (60000, 120000]   14490.0  13400.0
       (2015, 2018] (60000, 120000]   17950.0  18590.0
                    (120000, 180000]  14390.0  14500.0
       (2018, 2021] (60000, 120000]   18625.0  20190.0
                    (120000, 180000]  14990.0  16990.0
       (2021, 2025] (0, 60000]        25990.0  23990.0
                    (60000, 120000]   21950.0  22000.0
Kamiq  (2021, 2025] (0, 60000]        25490.0  21500.0
Puma   (2018, 2021] (0, 60000]        18880.0  17650.0
T-Roc  (2018, 2021] (120000, 180000]  18990.0  18500.0
       (2021, 2025] (60000, 120000]   22990.0  16990.0
Tiguan (2018, 2021] (60000, 120000]   22000.0  23850.0
       (2021, 2025] (0, 60000]        37879.0  30850.0